<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/CPQ.png">
	<title>PeerPrint Status</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
  <div class="sticky-top">
    <header class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">PeerPrint</a>

      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
  </div>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">

				<div class="position-sticky sidebar-sticky">
					<ul class="nav flex-column" id="myTab" role="tablist">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Network Stats</span>
            </h6>

      			<select class="form-control w-100 rounded-0 form-select" data-bind="options: instances, value: selectedInstance"></select>

						<li class="nav-item" role="presentation">
							<a class="nav-link" id="server-tab" data-bs-toggle="tab" data-bs-target="#server" type="button" role="tab" aria-controls="server">Server</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="storage-tab" data-bs-toggle="tab" data-bs-target="#storage" type="button" role="tab" aria-controls="storage">Storage</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab" aria-controls="events">Events</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="peers-tab" data-bs-toggle="tab" data-bs-target="#peers" type="button" role="tab" aria-controls="peers">Peers</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button" role="tab" aria-controls="clients">Clients</a>
						</li>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Configure Networks</span>
            </h6>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="newconn-tab" data-bs-toggle="tab" data-bs-target="#newconn" type="button" role="tab" aria-controls="newconn">Join Network</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="conns-tab" data-bs-toggle="tab" data-bs-target="#conns" type="button" role="tab" aria-controls="conns">Manage Connections</a>
						</li>
						<li class="nav-item" role="presentation">
              <a class="nav-link" id="newregistry-tab" data-bs-toggle="tab" data-bs-target="#newregistry" type="button" role="tab" aria-controls="newregistry">Publish Network</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="registry-tab" data-bs-toggle="tab" data-bs-target="#registry" type="button" role="tab" aria-controls="registry">Manage Published</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="lobby-tab" data-bs-toggle="tab" data-bs-target="#lobby" type="button" role="tab" aria-controls="lobby">Discover Networks</a>
						</li>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Server Settings</span>
            </h6>	

						<li class="nav-item" role="presentation">
							<a class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security">Security</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" id="creds-tab" data-bs-toggle="tab" data-bs-target="#creds" type="button" role="tab" aria-controls="creds">Credentials</a>
						</li>

						<li class="nav-item" role="presentation">
							<a class="nav-link" type="button" href="/logout">Logout</a>
						</li>
					</ul>
        </div> <!-- sidebar-sticky -->
			</nav>
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 min-vh-90">    
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="server" role="tabpanel" aria-labelledby="server-tab">{{template "server.html"}}</div>
        <div class="tab-pane fade" id="storage" role="tabpanel" aria-labelledby="storage-tab">{{template "storage.html"}}</div>
        <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">{{template "events.html"}}</div>
        <div class="tab-pane fade" id="peers" role="tabpanel" aria-labelledby="peers-tab">{{template "peers.html"}}</div>
        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">{{template "clients.html"}}</div>
        <div class="tab-pane fade" id="newconn" role="tabpanel" aria-labelledby="newconn-tab">{{template "newconn.html"}}</div>
        <div class="tab-pane fade" id="lobby" role="tabpanel" aria-labelledby="lobby-tab">{{template "lobby.html"}}</div>
        <div class="tab-pane fade" id="conns" role="tabpanel" aria-labelledby="conns-tab">{{template "conns.html"}}</div>
        <div class="tab-pane fade" id="registry" role="tabpanel" aria-labelledby="registry-tab">{{template "registry.html"}}</div>
        <div class="tab-pane fade" id="newregistry" role="tabpanel" aria-labelledby="newregistry-tab">{{template "newregistry.html"}}</div>
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">{{template "security.html"}}</div>
        <div class="tab-pane fade" id="creds" role="tabpanel" aria-labelledby="creds-tab">{{template "creds.html"}}</div>
      </div>

      <footer class="footer mt-auto text-end">
        <span class="container text-muted">
          Refreshed: <span data-bind="text: refreshTS().toISOString()"></span>s
        </div>
      </footer>
			</main>
		</div>
	</div>

	<div class="toast-container position-fixed bottom-0 end-0 p-3">
		<div id="toast" class="toast text-bg-secondary" role="alert" aria-live="assertive" aria-atomic="true" data-bind="css: {'text-bg-secondary': toastData().title !== 'Error', 'text-danger': toastData().title === 'Error'}">
			<div class="toast-header">
				<strong class="me-auto" data-bind="text: toastData().title">Notice</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body" data-bind="text: toastData().body"></div>
		</div>
	</div>

	<script type-='text/javascript' src='https://code.jquery.com/jquery-3.6.3.min.js'></script>
	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
	<script src="js/viewmodel.js"></script>
	<script src="js/plots.js"></script>
	<script>
    $(document).ready(() => {
      var hash = (window.location.hash || "#null.server-tab").substr(1).split('.');
      const vm = new AppViewModel(hash);
      ko.applyBindings(vm);
    });
  </script>
</body>
</html>
